
@{
  ViewBag.Title = "Validation4";
}

<h2>Validation HTML4</h2>

<form id="form1" method="post" action="#">
  <p>
    <label for="username">Name:</label>
    <input type="text" id="username" />
  </p>
  <p>
    <label for="email">Email:</label>
    <input type="text" id="email" />
  </p>
  <p>
    <label for="phone">Phone:</label>
    <input type="text" id="phone" />
  </p>
  <p>
    <label for="age">Age:</label>
    <input type="text" id="age" />
  </p>
  <input type="submit" />
</form>
