
@{
    ViewBag.Title = "GlobalAttributes";
}

<h2>Global Attributes</h2>

<section>
    <h3 class="alert-info">Hidden Content</h3>
    <p>Discount Percentage :</p>
    <p>Jan/2013 : 15%</p>
    <p hidden>Feb/2013 : 20%</p>
    <p hidden="hidden">Mar/2013 : 25%</p>
</section>

<section>
    <h3 class="alert-info">Editable Areas</h3>
    <div contenteditable="true" style="font-size:24px">Type Here</div>
</section>

<section>
    <h3 class="alert-info">Draggable</h3>
    <img src="~/Content/Images/donut.png" draggable="true" />
</section>

<section>
    <h3 class="alert-info">Spell Checking</h3>
    <div contenteditable="true" spellcheck="true" style="font-size:24px">Type Here</div>
</section>