
@{
    ViewBag.Title = "Text Elements";
}

<h2>Text Elements</h2>

<section>
    <h3 class="alert-info">mark - highlight</h3>
    <p><mark>HTML5</mark> is the next standard for HTML.</p>
</section>

<section>
    <h3 class="alert-info">time - date/time</h3>
    <p>I will have dinner with my family on <time>Dec. 25. 2012</time>.</p>
    <p>I will have dinner with my family on <time datetime="2012-12-25">Christmas day</time>.</p>
</section>

<section>
    <h3 class="alert-info">meter - measurement</h3>
    <p>Humidity Checker</p>
    <p><meter value="10" min="0" max="100" low="30" high="80" optimum="50">10%</meter></p>
    <p><meter value="30" min="0" max="100" low="30" high="80" optimum="50">30%</meter></p>
    <p><meter value="40" min="0" max="100" low="30" high="80" optimum="50">50%</meter></p>
    <p><meter value="80" min="0" max="100" low="30" high="80" optimum="50">80%</meter></p>
    <p><meter value="90" min="0" max="100" low="30" high="80" optimum="50">90%</meter></p>
</section>

<section>
    <h3 class="alert-info">progress</h3>
    <p>Downloading: <progress max="100" value="30">30%</progress></p>
</section>